html {
    line-height: 1.5;
    font-family: Inter, sans-serif;
    font-size: 16px;
  }
  
  body {
  
    --background-color: #fdfdfd;
    --background-color-rgb: 253, 253, 253;
    --text-color: #1a1a1a;
    --text-color-rgb: 26, 26, 26;
    --transition-delay: 0.5s;

    --hr2-rgba1: rgba(0, 0, 0, 0);
    --hr2-rgba2: rgba(0, 0, 0, 0.75);
    --hr3-rgba1: rgba(0, 0, 0, 0.1);
    --hr3-rgba2: rgba(255, 255, 255, 0.3);
  
    color: var(--text-color);
    background-color: var(--background-color);
    transition: var(--transition-delay);
  
    margin: 0 auto;
    max-width: 60em;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    hyphens: auto;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
  }
  
  body.dark {
    --background-color: #202020;
    --text-color: #dddddd;
    --hr2-rgba1: rgba(255, 255, 255, 0);
    --hr2-rgba2: rgba(255, 255, 255, 0.75);
    --hr3-rgba1: rgba(255, 255, 255, 0.1);
    --hr3-rgba2: rgba(0, 0, 0, 0.3);
  }
  
  @media (max-width: 600px) {
    body {
      font-size: 1.4em;
      padding: 1em;
    }
  }
  
  @media print {
    body {
      background-color: transparent;
      color: var(--text-color);
    }
    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }
    h2, h3, h4 {
      page-break-after: avoid;
    }
  }
  
  p {
    margin-top: 1em;
  }
  
  a {
    color: var(--text-color);
    transition: var(--transition-delay);
    text-decoration-style: dotted;
  }
  
  a:visited {
    color: var(--text-color);
    transition: var(--transition-delay);
  }
  
  img {
    max-width: 100%;
  }
  
  h1 {
    margin-top: 0.5em;
  }
  
  h2 {
    margin-top: 0.5em;
  }
  
  h3 {
    margin-top: 0.5em;
  }
  
  h4 {
    margin-top: 0.5em;
  }
  
  h5 {
    margin-top: 0.5em;
  }
  
  h6 {
    margin-top: 0.5em;
  }
  
  ol, ul {
    padding-left: 1.7em;
    margin-top: 1em;
  }
  
  li > ol, li > ul {
    margin-top: 0;
  }
  
  blockquote {
    margin: 1.7em 0 1.7em 1.7em;
    padding-left: 1em;
    border-left: 1px dotted #999999;
  }
  
  code {
    font-family: Menlo, Monaco, 'Lucida Console', Consolas, monospace;
    background-color: var(--background-color);
    transition: var(--transition-delay);
    font-size: 85%;
    margin: 0;
    padding: .2em .4em;
  }
  
  pre {
    line-height: 1.5em;
    padding: 1em;
    background-color: var(--background-color);
    transition: var(--transition-delay);
    overflow: auto;
    border: var(--text-color) solid 1px;
  }
  
  pre code {
    padding: 0;
    overflow: visible;
  }
  
  hr {
    background-color: var(--text-color);
    transition: var(--transition-delay);
    border: none;
    height: 1px;
    margin-top: 1.7em;
    background: repeating-linear-gradient(90deg,var(--text-color),var(--text-color) 1px,transparent 1px,transparent 2px);
  }

  hr.hr2 {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, var(--hr2-rgba1), var(--hr2-rgba2), var(--hr2-rgba1));
  }

  hr.hr3 {
    border: 0;
    height: 0;
    width: 75%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
  
  table {
    border-collapse: collapse;
    width: 100%;
    overflow-x: auto;
    display: block;
  }
  th, td {
    border: 1px solid lightgray;
    padding: 1em 3em 1em 1em;
  }
  header {
    margin-bottom: 6em;
    text-align: center;
  }
  nav a:not(:hover) {
    text-decoration: none;
  }
  code{white-space: pre-wrap;}
  span.smallcaps{font-variant: small-caps;}
  span.underline{text-decoration: underline;}
  div.column{display: inline-block; vertical-align: top; width: 50%;}
  div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
  ul.task-list{list-style: none;}
  
  /* details */
  .details {
    display: flex;
    align-items: center;
  }
  
  .item {
    background-color: var(--text-color);
    color: var(--background-color);
    transition: var(--transition-delay);
    border-radius: 4px;
    padding: 4px;
    flex-basis: auto;
    height: 24px;
    margin: 4px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: smaller;
  }
  
  .item a {
    color: var(--background-color);
    transition: var(--transition-delay);
    border-bottom: none;
  }
  
  .item a:visited {
    color: var(--background-color);
    transition: var(--transition-delay);
  }
  
  .item span {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .item-icon {
    padding: 0px;
    margin: 4px;
    background-color: var(--text-color);
    color: var(--background-color);
    transition: var(--transition-delay);
  }
  
  .item-text {
    background-color: var(--text-color);
    color: var(--background-color);
    transition: var(--transition-delay);
    padding: 0px;
    margin: 4px;
  }
  
  .comment-author {
    font-weight: bold;
    font-size: smaller;
    margin-right: 8px;
  }
  
  .comment-timestamp {
    font-weight: normal;
    font-size: smaller;
    margin-right: 8px;
  }
  
  .comment-votes {
      font-weight: normal;
      font-size: smaller;
      margin-right: 2px;
  }
  
  .comment-votes::before {
      content: "[";
      margin-left: 2px;
      margin-right: 2px;
  }
  
  .comment-votes::after {
      content: "]";
      margin-left: 2px;
      margin-right: 8px;
  }
  
  .selftext {
    border: var(--text-color) dashed 1px;
    padding: 1em;
    margin: 1em;
  }
  
  .comments-main-header {
    margin-top: 2.0em;
    margin-bottom: -1.0em;
  }
  
  /* toggle button */
  
  .toggle-button {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    background-color: var(--background-color);
    border-radius: 50px;
    border: 1px solid var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    position: relative;
    height: 16px;
    width: 32px;
    transform: scale(1);
  }
  
  .label .ball {
    background-color: var(--text-color);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 12px;
    width: 12px;
    transform: translateX(0px);
    transition: transform var(--transition-delay) linear;
  }
  
  .checkbox:checked + .label .ball {
    transform: translateX(16px);
    background-color: var(--text-color);
  }